ambassador:
  envoyRefreshInterval: PT10S
etcd:
  url: http://localhost:2479
spring:
  resources:
    # disable serving of static web files since this is a REST/Actuator only web app
    add-mappings: false
  kafka:
    producer:
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
management.endpoints.web.exposure.include: "health,jolokia,metrics"
management:
  metrics:
    export:
      statsd:
        flavor: ${statsd.flavor:telegraf}
        host: ${statsd.host:localhost}
        port: ${statsd.port:8125}
        enabled: ${statsd.enabled:false}
      influx:
        db: telemetry-ambassador
        host: ${statsd.host:localhost}
        port: ${statsd.port:8086}
        enabled: ${influx.enabled:false}
