salus.etcd:
  url: http://localhost:2479
server:
  port: 8081
logging:
  level:
    com.rackspace.salus: debug
salus:
  ambassador:
    public-zone-tenants:
      - aaaaaa
  services:
    monitor-management-url: http://localhost:8089
    resource-management-url: http://localhost:8085
    agent-catalog-management-url: http://localhost:8090
spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        generate_statistics: false
    show-sql: false
  datasource:
    username: dev
    password: pass
    url: jdbc:mysql://localhost:3306/default?verifyServerCertificate=false&useSSL=false&requireSSL=false
    driver-class-name: com.mysql.cj.jdbc.Driver
    platform: mysql
  kafka:
    listener:
      # this will allow for us to start consumer of a particular topic before the producer
      missing-topics-fatal: false
